body {
    padding-top: 54px;
}

header .welcome {
    margin-top: 3em;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.card {
    height: 100%;
}

.navbar .navbar-brand {
    font-size: 1.5rem
}


.btn:hover {
    filter: brightness(85%);
}

.card-img-top:hover {
    filter: brightness(125%);
}

.card:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}

.card-img-top {
    filter: blur(1px);
    transition: filter 0.3s ease;
}

.card-img-top:hover {
    filter: blur(0);
}

a {
    text-decoration: none !important;
}


.rounded-3:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}